.content {
  background-color: rgb(244, 245, 247);
  height: 100%;
  padding: 35px;
}

/* margin between title and dashed border area is 25px */

/* title color: rgb(22, 29, 46) */

/* dashed border color: rgb(228, 231, 235) */
