@import '../variables';

.navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 -1px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 10;
  color: #9ea6b2;

  svg {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
  }
}

.menu {
  margin-right: 10px;
  svg {
    margin: 0;
  }

  @media ($md) {
    display: none;
  }
}

.navbarSearch {
  display: flex;
  align-items: center;
  cursor: pointer;

  p {
    font-weight: 500;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.avatar {
  width: 35px;
  height: 35px;
  cursor: pointer;

  img {
    border-radius: 100%;
    width: 100%;
    height: auto;
  }
}
