.sidebar {
  padding: 25px 10px;
  width: 290px;
  background-color: #43379d;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(7, 45px);
  grid-row-gap: 5px;
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #8da2fb;
  transition: color 0.4s ease;
  border-radius: 5px;

  &:nth-child(2) {
    background-color: #362f78;

    p {
      color: #b5c2fc;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #362f78;

    p {
      color: #b5c2fc;
    }
  }

  p {
    font-weight: 500;
  }

  svg {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
}
