.index {
  min-height: 100vh;
  padding: 16px;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 20px;
  }

  &:nth-child(2) {
    margin: 15px 0;
  }
}
