.sidebar {
  padding: 25px 10px;
  width: 290px;
  background-color: rgb(67, 55, 157);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(7, 45px);
  grid-row-gap: 5px;
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgb(141, 162, 251);
  transition: color 0.4s ease;
  border-radius: 5px;

  &:nth-child(2) {
    background-color: rgb(54, 47, 120);

    p {
      color: rgb(181, 194, 252);
    }
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(54, 47, 120);

    p {
      color: rgb(181, 194, 252);
    }
  }

  svg {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }

  p {
    font-weight: 500;
  }
}
