$sidebar-bg: #43379d;
$sidebar-selected-bg: #362f78;
$sidebar-selected-color: #b5c2fc;
$very-dark-blue: #161d2e;
$blue: #5850eb;
$light-blue: #e7edfd;
$gray: #7c7879;
$very-light-blue: #f9fafc;
$dark-gray: #47505d;
$navbar-text: #6c7280;

/* media queries */
$sm: 'min-width: 640px';
$md: 'min-width: 768px';
$lg: 'min-width: 1024px';
$xl: 'min-width: 1280px';
$xxl: 'min-width: 1440px';
