$sidebar-bg: #43379d;
$sidebar-selected-bg: #362f78;
$sidebar-selected-color: #b5c2fc;
$dark-blue: #5663e5;
$light-blue: #e7edfd;
$gray: #7c7879;
$very-light-blue: #f9fafc;

/* media queries */
$sm: 'min-width: 640px';
$md: 'min-width: 768px';
$lg: 'min-width: 1024px';
$xl: 'min-width: 1280px';
