@import '../variables';

.skewedShape {
  min-height: 100vh;
  position: absolute;
  width: 55%;
  background-color: #fff;
  z-index: 10;
  display: none;
  transform: skew(-10deg, 0);

  @media ($xl) {
    display: block;
  }
}

.callToAction {
  z-index: 20;
  padding: 20px;

  @media ($xl) {
    padding: 20px 40px;
  }
}

.bigText {
  font-size: 30px;
  font-weight: bold;
}
