@import '../variables';

.desktopNav {
  display: none;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;

  p {
    color: $gray;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      color: $dark-blue;
    }
  }

  @media ($lg) {
    font-size: 17px;
    display: grid;
    justify-content: end;
    grid-column-gap: 30px;
  }

  @media ($xl) {
    justify-content: stretch;
    grid-column-gap: 0;
  }
}
