@import '../variables';

.mobileNavContainer {
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 20;
  opacity: 0;
  animation: open 0.2s 1 ease forwards;

  @keyframes open {
    100% {
      opacity: 1;
    }
  }

  @media ($lg) {
    display: none;
  }
}

.mobileNav {
  display: none;
}

.mobileNavOpen {
  box-shadow: 0 0 5px #808080;
  border-radius: 5px;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  grid-row-gap: 20px;
  padding: 10px;

  .mobileNavHeader {
    display: flex;
    justify-content: space-between;

    .close {
      width: 25px;
      height: 25px;
    }
  }

  .loginText {
    border-radius: 5px;
    color: $blue;
    padding: 10px;
    background-color: $very-light-blue;
    text-align: center;
  }
}
