@import '../variables';

.navbar {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, auto);
  align-items: center;

  @media ($lg) {
    grid-template-columns: auto 1fr;
    grid-column-gap: 50px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}
